@if (Model != null)
{
    <h3 style="text-align: center;"><u>RESULTATS DE L'ESTIMATION DES FRAIS</u></h3>
    <br />
    <div class="card-block">
        <div class="view-info">
            <div class="row">
                <div class="col-lg-12">
                    <div class="general-info">
                        <div class="row">
                            <div class="col-lg-12 col-xl-6">
                                <div class="table-responsive">
                                    <table class="table m-0">
                                        <tbody>
                                            <tr>
                                                <th scope="row">Préfecture : </th>
                                                <td>@Model.PrefectureName</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Quartier : </th>
                                                <td>@Model.PlaceName</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Zone : </th>
                                                <td>@Model.ZoneName</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Superficie : </th>
                                                <td>@Model.aire m2</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Prix du bornage contradictoire : </th>
                                                <td>@Model.priceO F</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-6">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th scope="row">Valeur vénale du terrain : </th>
                                                <td>@Model.valV F</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Base de calcul pour le prix à payer : </th>
                                                <td>@Model.calculationBase F</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Valeur d'enregistrement : </th>
                                                <td>@Model.valE F</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Droit de timbre : </th>
                                                <td>@Model.droitD F</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Prix à payer : </th>
                                                <td>@Model.priceT F</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <h3 style="text-align: center;"><u>BORNAGE CONTRADICTOIRE</u></h3>
    <br />
    <table class="table table-bordered" style="text-align: center;">
        <thead>
            <tr>
                <th scope="col">Code du droits</th>
                <th scope="col">Droits</th>
                <th scope="col">Montant</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>FD</td>
                <td>Frais de Depot</td>
                <td>2.000 F</td>
            </tr>
            <tr>
                <td>DE</td>
                <td>Droit d'Enregistrement</td>
                <td>0</td>
            </tr>
            <tr>
                <td>TA</td>
                <td>Taxe Additionnelle</td>
                <td>0</td>
            </tr>
            <tr>
                <td>DI</td>
                <td>Droit d'Immatriculation</td>
                <td>0</td>
            </tr>
            <tr>
                <td>JO</td>
                <td>JORT</td>
                <td>10.000 F</td>
            </tr>
            <tr>
                <td>DFI</td>
                <td>Droit Fixe d'Immatriculation</td>
                <td>1.000 F</td>
            </tr>
            <tr>
                <td>FB</td>
                <td>Frais de Bornage</td>
                <td>@Model.priceO F</td>
            </tr>
            <tr>
                <td>DT</td>
                <td>Droit de Tirage</td>
                <td>5.000 F</td>
            </tr>
            <tr>
                <td>FT</td>
                <td>Frais de transport</td>
                <td>0</td>
            </tr>
            <tr>
                <td colspan="2"><b>Montant Total</b></td>
                <td></td>
            </tr>
        </tbody>
    </table>
}
