@if (Model != null)
{
    <p>Préfecture : <b>@Model.PrefectureName</b></p>
    <p>Quartier : <b>@Model.PlaceName</b></p>
    <p>Zone : <b>@Model.ZoneName</b></p>
    <p>Type de zone : <b>@Model.ZoneType</b></p>
    <p>Superficie : <b>@Model.aire m2</b></p>
    <p>Prix du bornage contradictoire : <b>@Model.priceO F</b></p>
    <p>Valeur venale du terrain : <b>@Model.valV F</b></p>
    <p>Base de calcul : <b>@Model.calculationBase F</b></p>
    <p>Valeur d'enregistrement : <b>@Model.valE F</b></p>
    <p>Droit de timbre : <b>@Model.droitD F</b></p>
    <p>Prix à payer : <b>@Model.priceT F</b></p>
}
